{{- $posts := first 5 (where site.RegularPages "Section" "blog") -}}
{{- with $posts }}
<section class="p-section" aria-labelledby="writeups-title">
  <div class="p-wrap">
    <div class="p-box">
      <h2 class="p-box-title" id="writeups-title">WRITING</h2>

      <div class="p-rows">
        {{- range . }}
          <a class="p-row" href="{{ .RelPermalink }}">
            <span class="p-row-title">{{ .Title }}</span>
            {{- with .Date }}
              <time class="p-row-date" datetime="{{ .Format "2006-01-02" }}">
                {{ time.Format ":date_medium" . }}
              </time>
            {{- end }}
          </a>
        {{- end }}
      </div>

      <p class="p-section-foot"><a class="p-link-more" href="{{ "blog/" | relURL }}">All writeups</a></p>
    </div>
  </div>
</section>
{{- end }}
